@charset "utf-8";

html{
    font-size: 15px;
}
body{
    margin:0;
    text-align: center;
    background-color: whitesmoke;
}
h1{
    font-size: 3rem;
    color: white;   
}
h2{
    color: black;
}
form {
    padding:16px;
}
input{
    box-sizing: border-box;
}
input[type="text"]{
    margin: auto;
    padding: 0.5em;
    width: 55%;
    font-size:16px;
}

input[type="text"]:focus{
    background-color: #faf3f3;
}
table {
    margin:0 auto 30px auto;
    border-collapse: collapse;
    background-color: white;
}
th,td {
    border: 1px solid #8fbac8;
    padding: 8px;
}
tr:nth-child(2n+2){
    background-color: #faf3f3;
}
thead tr{
    background-color: brown;
    color: white;
}
button{
    background-color: white;
}
button:hover {
    cursor: pointer;
    background-color: #faf3f3;
}
.containerC{
    margin:0 auto 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-flow: column;
    background-color: brown; 
    color:white;
}
.containerR{
    margin:0 auto 0 auto;
    display: flex;
    max-width: 1200px;
    flex-flow: row;
    padding-bottom: 50px;
}

#resultTitle{
    display: inline-block;
    margin: 60px auto 0 auto;
}
#gray{
    background-color: whitesmoke;
}
#errorMessage{
    color: black;
}
#formButton {
    border: 1px solid gray;
    border-radius: 6px;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 18px
}
#saveButton, #reverseButton, #savedReverseButton, #filterButton, #savedFilterButton, #clearFiltersButton, #clearSavedFiltersButton{
    border: 1px solid gray;
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 14px;
    margin-left: 5px;
}

.filterForm {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    width: 200px;
}
.filterInput{
    width:75%;
    height: 18px;
}
.centerParts{
    position: absolute;
}

@media only screen and (max-width: 768px){
    html{
        font-size: 11px;
    }
    .containerR{
        flex-flow: column;
    }
}