extends layout

block content
  if (!user)
    .containerC
      a.centerParts(href="/login") Login
      br

  if (user)
    .centerParts.containerC
      p こんにちは #{user} さん
      a(href="/logout") Logout