extends layout

block content
  .containerC
    h1 Login Page
    p ユーザ名とパスワードを入力してください。
    br
  #form-container
    form.loginform(role='form', action="/login",method="post", style='max-width: 300px;')
      input.form-control(type='text', name="username", placeholder='Enter Username')
      button.beautifulButton.floatright(type='submit') SignIn
      input.form-control(type='password', name="password", placeholder='Password')
      a.floatright(href='/')
        button.beautifulButton(type="button") Cancel
    if expressFlash
      if expressFlash.length > 0
        p <strong>エラーメッセージ:</strong> #{ expressFlash }
        
    form.loginform(role='form', action="/signUp",method="post", style='max-width: 300px;')
      input.form-control(type='text', name="username", placeholder='Enter Username')
      input.form-control(type='password', name="password", placeholder='Password')
      button.beautifulButton.floatright(type='submit') SignUp